@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.brand-block {
    @apply
    px-2
    py-4
    block
    md:flex
    items-center
    justify-between
    border-b
    border-gray-300
}

.header {
    @apply
    px-2
    mb-5
    h-14
    flex
    items-center
    border-b
    border-gray-300
}

.header-nav {
    @apply
    hidden
    md:flex
    justify-between
    w-full
    items-center
}


.header-link {
    @apply
    inline-block
    px-3
    py-2
    text-gray-500
    font-semibold
    border-b-2
    border-transparent
    hover:text-green-400
    hover:border-green-400
    transition-all
    duration-300
}

.header-button {
    @apply
    ml-2
    px-3
    py-1
    border-2
    rounded-full
    border-green-500
    text-gray-600
    hover:text-white
    hover:bg-green-500
    focus:outline-none
    focus:ring focus:ring-sky-300
    transition-all
    duration-300
}

.post-title {
    @apply
    mt-5
    lg:mt-0
    mb-2
    text-gray-600
    font-bold
    text-2xl
}

.form-input {
    @apply
    p-2
    text-gray-700
    bg-gray-100
    w-full
    border
    rounded hover:border-gray-700
}

.form-checkbox {
    @apply
    relative
    w-4 h-4
    aspect-square
    !appearance-none
    !bg-none
    checked:!bg-gradient-to-tr
    checked:!from-green-400
    checked:!to-white
    bg-white
    border border-gray-300
    shadow-sm rounded
    !outline-none !ring-0 !text-transparent !ring-offset-0 checked:!border-sky-400 hover:!border-sky-400 cursor-pointer transition-all duration-300 ease-in-out focus-visible:!outline-offset-2 focus-visible:!outline-2 focus-visible:!outline-sky-400/30 focus-visible:border-sky-400 after:w-[35%] after:h-[53%] after:absolute after:opacity-0 after:top-[40%] after:left-[50%] after:-translate-x-2/4 after:-translate-y-2/4 after:rotate-[25deg] after:drop-shadow-[1px_0.5px_1px_rgba(56,149,248,0.5)] after:border-r-[0.17em] after:border-r-white after:border-b-[0.17em] after:border-b-white after:transition-all after:duration-200 after:ease-linear checked:after:opacity-100 checked:after:rotate-45
}

.form-select {
    @apply
    border
    rounded-full
    text-gray-600
    h-10 pl-5 pr-10
    bg-white
    hover:border-gray-400
    focus:outline-none
    appearance-none
}

.form-button {
    @apply
    px-4
    py-2
    bg-green-500
    border-2
    w-full
    rounded-full
    border-green-500
    text-white
    hover:text-white
    hover:bg-green-700
    focus:outline-none
    focus:ring
    focus:ring-violet-300
}

.footer {
    @apply
    mt-10
    py-10
    px-2
    border-t
    border-gray-300
}

.footer-title {
    @apply
    mb-3
    font-semibold
    text-gray-700
}

.footer-link {
    @apply
    mb-4
    inline-block
    text-gray-500
    hover:text-gray-800
    hover:underline
    decoration-gray-700
    underline-offset-2
    transition-all
    duration-300
}

.banner {
    @apply
    h-96
    mb-4
    relative
    rounded-lg
    inline-block
    drop-shadow-xl
    overflow-hidden
}

.title {
    @apply
    mb-2
    font-bold
    text-lg
    uppercase
}

[x-cloak] {
    display: none !important;
}

